
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]ssets/[Ss]treamingAssets/


[Mm]ono[Bb]leeding[Ee]dge/
[Uu]nity[Cc]rash[Hh]andler*.exe
[Uu]nity[Pp]layer.dll
mono*.dll


*.meta
*.unity
*.asset
*.prefab
*.mat
*.controller
*.anim


!Packages/manifest.json
!ProjectSettings/ProjectVersion.txt


.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


.vscode/
*.code-workspace


.idea/
*.sln.iml


Thumbs.db
Thumbs.db.meta
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/


.DS_Store
.AppleDouble
.LSOverride
Icon
._*


*~
.directory
.Trash-*


*.browser
[Cc]ompat.browser
[Bb]rowscap.ini
[Cc]onfig.xml
[Ss]ettings.map
[Mm]achine.config
[Ww]eb.config
[Bb]oot.config


[Dd]efault[Ww]sdl[Hh]elp[Gg]enerator.aspx


*.info
app.config
globalapplicationmanagers.assets


*.apk
*.aab
*.unitypackage
*.app


sysinfo.txt
*.log
*.stackdump
crashlytics-build.properties


[Uu]pgrade[Ll]og*.htm
[Uu]pgrade[Ll]og*.html


.gradle/
[Aa]sset[Ss]tore[Tt]ools*


[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*


.gitignore
README.md
Assets/
Assets/Scripts/
Assets/Scripts/**/*.cs
Packages/
Packages/manifest.json