
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/


*_Data/
*_BackUpThisFolder_ButDontShipItWithYour Game/


[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa/
[Aa]ssets/[Ss]treamingAssets/aa.meta


*.meta


*.unity
*.asset
*.prefab
*.mat
*.controller
*.anim


sysinfo.txt
*.log
*.stackdump
[Uu]pgrade[Ll]og*.htm
[Uu]pgrade[Ll]og*.html


RuntimeInitializeOnLoads.json
ScriptingAssemblies.json


unity.default.resources
unity_builtin_extra
*.resS
globalgamemanagers*
level*
sharedassets*


.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db


.vscode/
.vscofnig
*.code-workspace


.idea/
*.sln.iml
[Aa]ssets/Plugins/Editor/JetBrains*


.DS_Store
.AppleDouble
.LSOverride
Icon
._*


Thumbs.db
Thumbs.db.meta
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/


*~
.directory
.Trash-*


new scene/
[Ss]ample[Ss]cene/


*.apk
*.aab
*.unitypackage
*.app


crashlytics-build.properties
.gradle/
[Aa]sset[Ss]tore[Tt]ools*


Packages/*
!Packages/manifest.json


ProjectSettings/*
!ProjectSettings/ProjectVersion.txt
!ProjectSettings/ProjectSettings.asset
!ProjectSettings/TagManager.asset
!ProjectSettings/QualitySettings.asset


.vscofnig


ProjectSettings/*.asset


!ProjectSettings/ProjectVersion.txt