/*

!.gitignore
!README.md

!Assets/
!Assets/**

!Packages/
!Packages/**

!ProjectSettings/
!ProjectSettings/**

# Re-ignore Unity caches and build outputs
Library/
Temp/
Obj/
Logs/
UserSettings/
Build/
Builds/
MemoryCaptures/
